@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background: linear-gradient(180deg, #A0138E 0%, #382A8D 100%); */
    z-index: 1000;
    display: flex;
    text-align: right;
    justify-content: space-between;
    padding: 2rem 9%;
}


a {
    color: #ebeef4 !important;
    font-weight: bold;
}

body {
  border: 0;
  margin: 0;
  padding-top: 0px;
  /* font-family: sans-serif; */
  font-family: 'Roboto';
  font-style: normal;
  /* background-color: rgb(255, 255, 255) */
}
/* @media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
} */

.container {
  width: 300px;
  /* height: 206px; */
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  text-align: center;
  display: flex;
  background: transparent;
}


.container div > p span {
  color: red;
}

p {
  position: relative;
  top: 30px;
}

p a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 120px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
  color: white;
  width: 100;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

#container {
  padding: 60px;
  text-align: right;
  width: 400;
  }


  /* lines and animation  */
/*
.lines{
  position: absolute;
  width: 800px;
  /* height: 284px; 
  left: 60px;
  top: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  /* font-size: 5000px; 
  line-height: 71px;
  float: left;
  text-align: justify;
  color: #FFFFFF;
}*/

.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 10s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: #343F4F; */
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}


.signupi{
    position: absolute;
    width: 500px;
    /* height: 655px; */
    left: 60px;
    top: 85px;
}

.lines{
    position: absolute;
    width: 400px;
    /* height: 65px; */
    left: 850px;
    top: 140px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 161.19%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}

.input_box{
  position: absolute;
  height: 628px;
  left: 900px;
  top: 80px;
  width: 300px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  text-align: center;
  display: flex;
  background: transparent;
}

/* .pos1{
  position: absolute;
  width: 330px; 
  left: 950px;
  top: 245px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 1000px;
  font-size: 20px;
  line-height: 161.19%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #05a89a;
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 40px;
  background: #588ba7
} */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #e45609;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #0dd4d1;
}

/* Add a background color and some padding around the form */
/* .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */


label{
  font-family: 'Roboto';
  font-style: normal;
  /* font-weight: 900; */
  font-size: 20px;
  line-height: 161.19%;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
